body {
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #fff;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, .37), 0 1px 0 rgba(0, 0, 0, .49);
  font-size: 14px;
  line-height: 20px;
  background-color: #482D20;
  background-image: url('../images/faro_night2.jpg');
  /*background-image: url('../images/donzo_15.jpg');*/
  background-position: 0% 0%;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 56px;
  line-height: 56px;
  font-weight: 700;
}

h2 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 500;
}

h3 {
  margin: 5px 0px 10px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
}

h4 {
  margin: 0px 0px 5px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

h5 {
  margin: 10px 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

p {
  margin-top: 0px;
  margin-bottom: 5px;
  font-family: 'Varela Round', sans-serif;
  line-height: 19px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.header {
  position: relative;
}

.logo-wrapper {
  margin-bottom: 147px;
}

.logo-icon {
  margin-top: -5px;
  margin-right: 9px;
  float: left;
}

.logo-text {
  margin-top: 0px;
  margin-bottom: 0px;
  float: left;
  font-size: 32px;
  line-height: 31px;
  font-weight: 500;
}

.main-subtitle {
  width: 44%;
  margin-bottom: 46px;
  color: hsla(0, 0%, 100%, .79);
  font-size: 17px;
  line-height: 21px;
}

.section {
  padding-top: 110px;
  padding-bottom: 110px;
}

.center-title {
  text-align: center;
}

.center {
  text-align: center;
}

.line {
  width: 50px;
  height: 2px;
  margin-top: 42px;
  margin-bottom: 42px;
  background-color: #e1e4e8;
}

.feature-group.push-down {
  margin-bottom: 43px;
}

.image-crop {
  overflow: hidden;
  height: 560px;
  margin-bottom: -110px;
}

.align-right {
  text-align: right;
}

.field {
  width: 70%;
  height: 68px;
  margin-right: 2%;
  margin-bottom: 0px;
  padding: 12px 0px;
  float: left;
  border: 0px solid transparent;
  border-radius: 0px;
  background-color: transparent;
  box-shadow: inset 0 -4px 0 0 #262b2f;
  -webkit-transition: box-shadow 300ms ease;
  transition: box-shadow 300ms ease;
  color: #d3d9de;
  font-size: 26px;
}

.field:focus {
  box-shadow: inset 0 -4px 0 0 #d3d9de;
}

.form-button {
  width: 28%;
  padding: 24px 32px;
  border-radius: 5px;
  background-color: #262b2f;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  color: #5d6779;
  font-size: 24px;
}

.form-button:hover {
  background-color: #d3d9de;
}

.form-wrapper {
  margin-bottom: 0px;
}

.success {
  padding-top: 19px;
  padding-bottom: 19px;
  border-radius: 5px;
  background-color: #d3d9de;
  text-align: center;
}

.navbar {
  margin-bottom: 100px;
  background-color: transparent;
}

.nav-link {
  color: #fff;
}

.w-dropdown-list {
  background-color: rgba(255, 255, 255, 0.1);
}

.w-dropdown-link {
  color: #fff;

}

.w-nav-link.w--current {
  color: #fff;
  font-weight: bold;
}

.w-dropdown-link.w--current {
  color: #fff;
  font-weight: bold;
}

.w-form-fail {
  margin: 10px 0;
}

.container {
  display: block;
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
}

.container.dashboard {
  max-width: 960px;
}

.submit-button {
  margin-top: 20px;
}

a {
  text-decoration: none;
  color: #fff;
}

td, th {
  padding: 5px 20px 5px 0;
}

th {
  text-align: left;
}

.CodeMirror {
  text-shadow: none;
}

.CodeMirror, .CodeMirror-scroll {
  min-height: 180px !important;
}

.CodeMirror a {
  color: #333;
}

.card {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0px;
  text-shadow: none;
  color: #333;
  padding: 30px;
}

.card a{
  text-shadow: none;
  color: #333;
  color: #333;
}

.card .w-dropdown-list {
  background-color: #e6e6e6;
}

.card .w-dropdown-link.w--current {
  color: #333;
  font-weight: bold;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #ffffff;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, .37), 0 1px 0 rgba(0, 0, 0, .49);
}

#confirm-modal {
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
  display: none;
  position: absolute;
}

#confirm-modal .container {
  width: 500px;
  text-shadow: none;
  background-color: white;
  color: #333;
  padding: 20px;
}

#confirm-modal .container a {
  color: #333;
}

@media (max-width: 991px) {
  .navbar {
    margin-bottom: 70px;
  }
  .nav-menu {
    background-color: rgba(0, 0, 0, .7);
  }
  .menu-button.w--open {
    background-color: rgba(0, 0, 0, .7);
  }
}

@media (max-width: 767px) {
  .header {
    padding: 0px 10px;
  }
  .navbar {
    margin-bottom: 0px;
  }
  .logo-wrapper {
    margin-bottom: 37px;
  }
  .section {
    padding-top: 42px;
    padding-bottom: 42px;
    text-align: center;
  }
  .center-title {
    padding-right: 10px;
    padding-left: 10px;
  }
  .subtitle.location {
    width: auto;
    margin-right: 20%;
    margin-bottom: 27px;
    margin-left: 20%;
  }
  .line {
    display: block;
    margin: 32px auto;
  }
  .align-right {
    text-align: center;
  }
  .map-icon {
    position: static;
  }
  .image {
    width: 269px;
  }
  .field {
    width: 50%;
    font-size: 22px;
  }
  .form-button {
    width: 48%;
  }
}

@media (max-width: 479px) {
  .field {
    width: 100%;
    margin-right: 0%;
    margin-bottom: 15px;
    text-align: center;
  }
  .form-button {
    width: 100%;
  }
}

